name: CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
      - uses: golangci/golangci-lint-action@v9
        with:
          version: v2.4
          install-only: true
      - name: Run linter
        run: make golint
